# Dependencies: Don't need GPU
# -------------------
numpy
# Latest version results in funky values
torch<1.12
torchvision<0.13
onnx
onnxruntime
# For running tests to see whether outputs are identical from onnx model

# Tensorflow
tensorflow
# tensorflow; sys_platform != 'darwin' or platform_machine != 'arm64'
# tensorflow-macos; sys_platform == 'darwin' and platform_machine == 'arm64'

# If you get the following error:
# If this call came from a _pb2.py file,
# your generated code is out of date and must be regenerated with protoc >= 3.19.0.
# 
# do the following
# pip install --upgrade protobuf==3.20.0


# Test
# -------------------
pytest
